<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cek ID Faskes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <p class="text-center my-5">
            <img style="height: 96px; width: auto;" src="https://i.postimg.cc/9XspWNvd/logo-kemenkes-2.png">
        </p>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div style="width: 480px; margin-top: 1vh;">
                <form method="POST" action="" class="my-5">
                    {% csrf_token %}
                    <div class="mb-3" id="inputIdFaskesDiv">
                        <label for="inputIdFaskes" class="form-label">ID Faskes</label>
                        <input name="id_faskes" type="text" class="form-control" id="inputIdFaskes">
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" name="id_none" type="checkbox" value="1" id="noIDCheck" onchange="valueChanged()">
                        <label class="form-check-label" for="noIDCheck">
                            Saya tidak memiliki ID Faskes
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="inputChall" class="form-label">Pertanyaan: berapa {{ op1 }} + {{ op2 }}</label>
                        <input name="chall_ans" type="text" class="form-control" id="inputChall">
                        <div id="challHelp" class="form-text">Ini untuk mencegah Spam dan Bot.</div>
                    </div>
                    <button type="submit" class="btn btn-success">Lanjut</button>
                </form>
                {% if error_msg %}
                <p style="color: red;">{{ error_msg }}</p>
                {% endif %}
                {% if notify_for_no_id %}
                <p>Mohon lanjutkan pengisian Kuesioner Pemetaan melalui link berikut:</p>
                <a target="_blank" href="{{ base_survey_url }}" class="btn btn-link" role="button">Isi kuesioner</a>
                {% endif %}
                {% if faskes %}
                <dl>
                    <dt>ID Faskes</dt>
                    <dd><code>{{ faskes.id_faskes }}</code></dd>

                    <dt>Nama Faskes</dt>
                    <dd>{{ faskes.nama_faskes }}</dd>

                    <dt>Provinsi</dt>
                    <dd>{{ faskes.provinsi }}</dd>

                    <dt>Kabupaten/Kota</dt>
                    <dd>{{ faskes.kab_kota }}</dd>

                    <dt>Jenis Faskes</dt>
                    <dd>{{ faskes.jenis_faskes }}</dd>
                </dl>
                <p>Mohon melanjutkan pengisian Kuesioner Pemetaan dengan menekan tombol di bawah ini</p>
                <a class="btn btn-success mb-5" role="button" href="{{ survey_url }}" target="_blank">Isi kuesioner pemetaan dari awal</a>
                {% endif %}
            </div>
        </div>
        <footer class="mt-5 text-center">
            &copy; 2023 Tim Studi Inventori TBC
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" 
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $( "#noIDCheck" ).prop( "checked", false );
        function valueChanged() {
            if ($('#noIDCheck').is(":checked"))
                $("#inputIdFaskesDiv").hide();
            else
                $("#inputIdFaskesDiv").show();
        }
    </script>
</body>

</html>