{% extends 'BASE.html' %}

{% block title_bl %}{{ kk.kode }} {{ kk.nama }}{% endblock %}

{% block body_bl %}
<div class="container">
    {% if log_time %}
    <p class="text-center mb-5">Diperbarui setiap satu jam. Terakhir pada {{ log_time }} WIB<br>
        Segarkan laman ini (F5) untuk melihat data terbaru
    </p>
    {% endif %}
    <nav aria-label="breadcrumb" class="text-success">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'sitbc:dasbor:index' %}" class="link-success">Indeks</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kab/Kota</li>
        </ol>
    </nav>
      
    <h1><code>{{ kk.kode }}</code> {{ kk.nama }}</h1>
    <code>{{ kk.kode_prov }}</code> Provinsi {{ kk.nama_prov }}
    <div class="my-2">
        <table class="table table-sm table-borderless" style="max-width: 240px;">
            <tr>
                <td>Jumlah Individu</td>
                <td>:</td>
                <td>{{ kk.jml_indiv }}</td>
            </tr>
            <tr>
                <td>Jumlah Faskes</td>
                <td>:</td>
                <td>{{ jml_faskes }}</td>
            </tr>
        </table>
        {% if link_idcf %}
        <a class="btn btn-outline-success my-3" href="{{ kk.link_idcf|default:'#' }}" target="_blank">
            Hasil Individual Data Collection Form (IDCF) (CP: Agnita)
        </a>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center my-3">
        {% if valid_pie %}
        <div style="overflow-x: scroll;">
            <h5 class="text-center">Jumlah Individu Berdasarkan Jenis Faskes</h5>
            <canvas width="300" id="indvsPerFaskesChart"></canvas>
        </div>
        {% endif %}
    </div>
    <div class="div-table my-5">
        <div class="d-flex flex-wrap justify-content-start my-3">
            <b>Filter: </b>&nbsp;
            {% for kode_jf in kode_jenis_faskes_list %}
            <a class="btn btn-sm {% if filter_jenis_faskes != kode_jf.0 %}btn-outline-success{% else %}btn-success{% endif %} me-2" href="?jenis_faskes={{ kode_jf.0 }}">{{ kode_jf.1 }}</a>
            {% endfor %}
        </div>
        {% if indivs %}
        <table id="datatable" class="table table-hover table-striped">
            <thead class="bg-white sticky-top">
                <tr>
                    <th>Nama Kab/Kota</th>
                    <th>Nama Individu</th>
                    <th class="text-center">No. Urut Individu</th>
                    <th>Jenis Kelamin</th>
                    <th>Jenis Faskes</th>
                    <th>Nama Faskes</th>
                    <th class="text-center">Nomor Urut Faskes</th>
                    <th>Nama Enumerator</th>
                    <th>No HP Enumerator</th>
                    <th>Tanggal Kunjungan</th>
                </tr>
            </thead>
            <tbody>
                {% for ind in indivs %}
                <tr>
                    <td>{{ ind.nama_kab }}</td>
                    <td><b>{{ ind.nama }}</b></td>
                    <td class="text-center">{{ ind.nu_ind }}</td>
                    <td>{{ ind.get_jk_text }}</td>
                    <td class="{% if ind.get_jenis_faskes_text == 'INVALID' %}text-warning{% endif %}">
                        {{ ind.get_jenis_faskes_text }}
                    </td>
                    <td>{{ ind.nama_faskes }}</td>
                    <td class="text-center">{{ ind.nu_faskes }}</td>
                    <td>{{ ind.nama_enum }}</td>
                    <td>0{{ ind.telp_enum }}</td>
                    <td>{{ ind.get_tgl_kunjungan|date:'c' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        Belum ada data masuk dari enumerator {% if filter_jenis_faskes %}untuk jenis faskes ini{% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            aaSorting: [],
            pageLength: 100,
            lengthMenu: [100, 50, 20],
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/id.json',
            },
            "columnDefs": [
                { "type": "num", "targets": [2, 6] }
            ],
        });
    });
</script>
<script>
    const ctx = document.getElementById('indvsPerFaskesChart');
    new Chart(ctx, {
        plugins: [ChartDataLabels],
        type: 'pie',
        data: {
            labels: {{ data_proporsi_faskes.0|safe }},
            datasets: [{
                label: 'Jumlah individu di faskes',
                data: {{ data_proporsi_faskes.1|safe }},
                backgroundColor: [
                    'blue',
                    'green',
                    'yellow',
                    'brown',
                    'grey',
                    'purple',
                ],
                hoverOffset: 4
            }]
        },
        options: {
            responsive: false,
            plugins: {
                datalabels: {
                    anchor: 'center',
                    align: 'center',
                    color: 'white',
                    backgroundColor: '#16b3ac',
                },
                legend: {
                    position: 'top',
                }
            }
        }
    });
</script>
{% endblock %}