{% extends 'BASE.html' %}

{% block title_bl %}{{ kk.kode }} {{ kk.nama }}{% endblock %}

{% block body_bl %}
<div class="container">
    <h1><code>{{ kk.kode }}</code> {{ kk.nama }}</h1>
    Provinsi <code>{{ kk.kode_prov }}</code> {{ kk.nama_prov }}
    <div>
        <table class="table table-sm table-borderless" style="max-width: 240px;">
            <tr>
                <td>Jumlah Individu</td>
                <td>:</td>
                <td>{{ kk.jml_indiv }}</td>
            </tr>
            <tr>
                <td>Jumlah Faskes</td>
                <td>:</td>
                <td>{{ jml_faskes }}</td>
            </tr>
        </table>
    </div>
    <div class="div-table my-5">
        <table id="datatable" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nama Kabupaten</th>
                    <th>Jenis Faskes</th>
                    <th>Nama Faskes</th>
                    <th class="text-center">Nomor Urut Faskes</th>
                    <th>Nama Individu</th>
                    <th class="text-center">No. Urut Individu</th>
                    <th>Jenis Kelamin</th>
                    <th>Nama Enumerator</th>
                    <th>No HP Enumerator</th>
                    <th>Tanggal Kunjungan</th>
                </tr>
            </thead>
            <tbody>
                {% for ind in indivs %}
                <tr>
                    <td>{{ ind.nama_kab }}</td>
                    <td>{{ ind.get_jenis_faskes_text }}</td>
                    <td>{{ ind.nama_faskes }}</td>
                    <td class="text-center">{{ ind.nu_faskes }}</td>
                    <td><b>{{ ind.nama }}</b></td>
                    <td class="text-center">{{ ind.nu_ind }}</td>
                    <td>{{ ind.get_jk_text }}</td>
                    <td>{{ ind.nama_enum }}</td>
                    <td>{{ ind.telp_enum }}</td>
                    <td>{{ ind.get_tgl_kunjungan|date:'d-m-Y' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            pageLength: 100,
            lengthMenu: [100, 50, 20],
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/id.json',
            },
            // "columnDefs": [
            //     {
            //         "orderable": false,
            //         "targets": -1 // -1 refers to the last column
            //     }
            // ],
        });
    });
</script>
{% endblock %}