{% extends 'BASE.html' %}

{% block title_bl %}Dasbor SIVTBC{% endblock %}

{% block body_bl %}
<div class="container">
    <h1 class="text-center">Studi Inventori TBC 2023-2024</h1>
    <h3 class="text-center mb-5">Perkembangan Pengumpulan Data Individu</h3>
    {% if log_time %}
    <p class="text-center mb-5">Pengecekan terakhir dari server pada {{ log_time }} WIB</p>
    {% endif %}
    <div class="d-flex justify-content-center my-3">
        <div style="overflow-x: scroll;">
            <canvas width="1000" height="320" id="indvsPerKKChart"></canvas>
        </div>
    </div>      
    <div class="div-table">
        <table id="datatable" class="table table-hover table-striped">
            <thead class="bg-white sticky-top">
                <tr>
                    <th class="text-center">Kode Kabupaten/Kota</th>
                    <th>Nama Kabupaten/Kota</th>
                    <th>Nama Provinsi</th>
                    <th class="text-center">Jumlah Individu</th>
                    <th class="text-center">Jumlah Faskes</th>
                    <th>Tindakan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">0000</td>
                    <td><b>NASIONAL</b> (31 Kabupaten/Kota)</td>
                    <td></td>
                    <td class="text-center"><b>{{ nas_jml_indiv }}</b></td>
                    <td class="text-center"><b>{{ nas_jml_faskes }}</b></td>
                    <td>-</td>
                </tr>
                {% for kk, jml_fk_unik in kks %}
                <tr>
                    <td class="text-center">{{ kk.kode_prov }}{{ kk.kode_kab }}</td>
                    <td>{{ kk.nama }}</td>
                    <td>{{ kk.nama_prov }}</td>
                    <td class="text-center">{{ kk.jml_indiv }}</td>
                    <td class="text-center">{{ jml_fk_unik }}</td>
                    <td>
                        <a href="{% url 'sitbc:dasbor:detail' kk.kode %}" class="btn btn-sm btn-success">Lihat Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            paging: false,
            pageLength: 32,
            lengthMenu: [32],
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/id.json',
            },
            // "columnDefs": [
            //     {
            //         "orderable": false,
            //         "targets": -1 // -1 refers to the last column
            //     }
            // ],
        });
    });
</script>
<script>
    const ctx = document.getElementById('indvsPerKKChart');
    new Chart(ctx, {
        plugins: [ChartDataLabels],
        type: 'bar',
        data: {
            labels: {{ indivs_per_kk.0|safe }},
            datasets: [{
                label: 'Jumlah Individu',
                data: {{ indivs_per_kk.1|safe }},
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            plugins: {
                datalabels: {
                    color: "#16b3ac",
                    anchor: "end",
                    align: "end",
                },
                legend: {
                    position: "bottom"
                }
            },
            elements: {
                bar: {
                    backgroundColor: "#16b3ac",
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}