{% extends 'BASE.html' %}

{% block title_bl %}Dasbor SIVTBC{% endblock %}

{% block body_bl %}
<div class="container">
    <div class="div-table">
        <table id="datatable" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">Kode Kabupaten/Kota</th>
                    <th>Nama Kabupaten/Kota</th>
                    <th class="text-center">Kode Provinsi</th>
                    <th>Nama Provinsi</th>
                    <th class="text-center">Jumlah Individu</th>
                    <th class="text-center">Jumlah Faskes</th>
                    <th>Tindakan</th>
                </tr>
            </thead>
            <tbody>
                {% for kk in kks %}
                <tr>
                    <td class="text-center">{{ kk.kode_kab }}</td>
                    <td>{{ kk.nama }}</td>
                    <td class="text-center">{{ kk.kode_prov }}</td>
                    <td>{{ kk.nama_prov }}</td>
                    <td class="text-center">{{ kk.jml_indiv }}</td>
                    <td class="text-center">{{ kk.get_jml_faskes }}</td>
                    <td>
                        <a href="{% url 'sitbc:dasbor:detail' kk.kode %}" class="btn btn-sm btn-success">Lihat Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block body_add_bl %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            pageLength: 31,
            lengthMenu: [31],
            searching: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/id.json',
            },
            // "columnDefs": [
            //     {
            //         "orderable": false,
            //         "targets": -1 // -1 refers to the last column
            //     }
            // ],
        });
    });
</script>
{% endblock %}